extends layout

block content
  h1 Build Your PC
  form(action="/submit-build" method="post")
    fieldset
      legend Choose Your Components

      label(for="cpu") CPU
      select(name="cpu")
        each cpu in cpus
          option(value=cpu.name) #{cpu.name} - #{cpu.price}

      // Add more fields for other components

      input(type="submit" value="Build")
