extends layout

block content
  h1 Build Your PC
  form(action="/submit-build" method="post")
    fieldset
      legend Choose Your Components

      label(for="cpu") CPU
      select(name="cpu" id="cpu-select")
        each cpu in cpus
          option(value=cpu.socket) #{cpu.name} - #{cpu.price}

      label(for="motherboard") Motherboard
      select(name="motherboard" id="motherboard-select")
        // Options will be populated by JavaScript

      input(type="submit" value="Build")

  script(src='/js/updateComponents.js')
