extends layout

block content
  header
    .welcome-banner
      h1 Welcome to TechCrafterss
      p The ultimate destination for custom PC enthusiasts.

    .page-links
      ul
        li: a(href="/forum") Forum
        li: a(href="/build-pc") Build PC
        li: a(href="/recommend-pc") Recommended PCs
        li: a(href="/info-help") Info/Help
