doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= pageTitle
    link(rel="stylesheet" href="./public/style.css") // Update the path to your CSS file
  body
    block content
    footer
      .container
        p © 2024 TechCrafters. All rights reserved.
