doctype html
html
  head
    title Your Website Title
    link(rel='stylesheet', href='/style.css')
    // Other head elements
  body
    header
      img(src='/techcrafters.png', alt='TechCrafters Logo', id='logo')
      // Rest of the header content

    block content

    footer
      p © 2024 TechCrafters. All rights reserved.

    // Additional scripts or footer elements
