doctype html
html
  head
    // Correct usage of self-closing link tag in Pug
    link(rel='stylesheet', href='/style.css')
  body
    block content
    footer
      .container
        p © 2024 TechCrafters. All rights reserved.
