doctype html
html
  head
    title Your Website Title
    link(rel='stylesheet', href='/style.css')  
  body
    header
      .container
        .logo-container
          img#logo(src='/techcrafters.png', alt='TechCrafters Logo')
        nav
          ul.nav-list
            li.nav-item: a(href="/") Home
            li.nav-item: a(href="/forum") Forum
            li.nav-item: a(href="/build-pc") Build PC
            li.nav-item: a(href="/recommend-pc") Recommended PCs
            li.nav-item: a(href="/info-help") Info/Help

    block content

    footer
      p © 2024 TechCrafters. All rights reserved.

    //  scripts or  elements
script(src='/js/updateComponents.js')
script(src='/js/buildPcFormHandler.js')
script(src='/js/calculateTotalPrice.js')