doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- Comments for the link element
    //- Link to your CSS stylesheet
    link(rel="stylesheet" href="/css/style.css")
    title= pageTitle
  body
    block content
    footer
      .container
        p © 2024 TechCrafters. All rights reserved.
