extends layout

block content
  if message
    .alert.alert-danger= message

  h1 Login
  form(action="/login" method="post")
    .form-row
      label(for="username") Username
      input(type="text" id="username" name="username" required)
    .form-row
      label(for="password") Password
      input(type="password" id="password" name="password" required)
    .form-row
      button(type="submit") Login