extends layout

block content
  h1 Register
  form(action="/register" method="post")
    .form-row
      label(for="username") Username
      input(type="text" id="username" name="username" required)
    .form-row
      label(for="password") Password
      input(type="password" id="password" name="password" required)
    .form-row
      button(type="submit") Register
