doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home - TechCrafters
    link(rel="stylesheet" href="/css/style.css") // Link to your CSS stylesheet
  body
    header
      .container
        nav
          ul.nav-list
            li.nav-item: a(href="/") Home
            li.nav-item: a(href="/forum") Forum
            li.nav-item: a(href="/build-pc") Build PC
            li.nav-item: a(href="/recommend-pc") Recommended PCs
            li.nav-item: a(href="/info-help") Info/Help
    .main-content
      .welcome-banner
        h1 Welcome to TechCrafters
        p The ultimate destination for custom PC enthusiasts.
      .signup-section
        form.signup-form(action="/signup" method="post")
          input(type="text" placeholder="Name" name="name" required)
          input(type="email" placeholder="Email" name="email" required)
          input(type="password" placeholder="Password" name="password" required)
          button(type="submit") Sign Up
    footer
      .container
        p © 2024 TechCrafters. All rights reserved.
